/ExampleGUINo1/nbproject/private/
/ExampleGUINo1/build/
/ExampleGUINo1/dist/
/BasicGuiWithPopUp/nbproject/private/
/BasicGuiWithPopUp/build/
/GUINo1WithPopUp/nbproject/private/
/GUINo1WithPopUp/build/
/GUINo1WithPopUp/dist/